

@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="Xacnhan">
    <h3>Cảm ơn quý khách đã mua hàng ở cửa hàng chúng tôi.
    <br>Chúng tôi sẽ sớm liên hệ với quý khách và giao hàng đúng hẹn.</h3>
    <p><a href="@Url.Action("Index", "User")" class=" btn btn-primary">Trở Về Trang Chủ</a></p>
</div>
<style>
    .Xacnhan{
        margin-left:200px;
        text-align:center;
    }
</style>
