
@{
    ViewBag.Title = "Deletenhasx";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<h2>Delete</h2>
<fieldset>
    <legend><font color=red>  Bạn có thật sư muốn xóa!</font>    </legend>
    <div class="display-lable"> Mã Nhà Sản Xuất :@Model.MaNhaSanXuat</div>
    <div class="display-lable"> Tên Nhà Sản Xuất  :@Model.TenNhaSanXuat</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a href="@Url.Action("Index","NhaCungCap")" class="btn btn-primary">
            Trở Về
        </a>
    </p>
}



